/* Error: There is no module with the namespace "mixins".
 *   ,
 * 5 |     @include mixins.flex(row,flex-start,center);
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\partials\base\components\_header.scss 5:5  @use
 *   scss\main.scss 6:1                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "mixins".\a   \2577 \a 5 \2502      @include mixins.flex(row,flex-start,center);\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\partials\\base\\components\\_header.scss 5:5  @use\a   scss\\main.scss 6:1                              root stylesheet';
}
