//BASE
@use "./partials/base/reset";
@use "./partials/base/tipografia";

//COMPONENTS
@use "./partials/base/components/header";
@use "./partials/base/components/Main";
@use "./partials/base/components/footer";
@use "./partials/base/components/mediaQueries";

