@use "../utilities/mixins";
@use "../utilities/variables";
.card-button {
    margin-top: 15px;
    @include mixins.main-button(variables.$color-primario,variables.$color-secundario)
     
}

.card-button:hover {
    background-color: variables.$color-secundario; 
    color: variables.$color-primario; 
    border: 2px solid variables.$color-primario; 
}