@use "../utilities/variables";

.tipos-financiacion {
    display: flex;
    flex-direction: column; 
    gap: 40px;
    padding: 0 32px; 
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center; 
}

.planes {
    width: 100%; 
    padding: 30px;
    border: 1px solid #000; 
    border-radius: 10px;
    background-color: variables.$color-fondo-claro; 
}

.planes h2 {
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.content-planes li {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    margin-bottom: 15px;
    color: variables.$color-primario;
        
}




.content-planes p {
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    margin-bottom: 15px;
    color: variables.$color-primario;
}

.texto-destacado {
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    font-weight: 700; 
    margin-bottom: 10px;
    color: variables.$color-primario;
        ul {
            text-align: left;       
            display: inline-block;  
            padding-left: 20px;     
            margin: 0 auto;
    }
}

.lista-vehiculos {
    width: 100%; 
    display: flex;
    flex-direction: column; 
    gap: 30px;
}



.info-vehiculo {
    width: 55%; 
    padding-right: 20px;
}

.info-vehiculo h3 {
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.info-vehiculo p {
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    color: variables.$color-texto-oscuro;
}


 


