@use "../utilities/mixins";
@use "../utilities/variables";

.bg_nav_propio {
    align-items: center;
    margin-top: 0; 
    background-color: variables.$color-primario; 
}


.navbar .container-fluid.nav_div {
    padding-left: 0;
    padding-right: 0;
}

.nav_div {
    @include mixins.flex (row,space-between,center)
}

.navbar-collapse {
    justify-content: flex-end; 
}

.nav_ul {
    display: flex;
    justify-content: flex-end; 
}

.nav-item {
    gap: 16px;
}

.nav-link {
    color: variables.$color-secundario; 
    font-family: variables.$fuente-titulos;
    text-decoration: none;
    
    
    padding: 8px 15px; 
    border-radius: 5px; 
    
    
    transition: all 0.3s ease; 

    &:hover {
        
        background-color: variables.$color-secundario; 
        color: variables.$color-primario;
        animation-name: transicion-suave;
        animation-duration: 0.5s; 
        animation-iteration-count: 1; 
        
    }
}

.logo {
    width: 150px;
}