@use "../utilities/extend";
@use "../utilities/variables";

.nosotros-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 60px;
    padding: 60px 32px;
    margin-bottom: 40px;
}

.nosotros-texto {
    width: 50%;
}

.nosotros-texto h1 {
    color: variables.$color-primario;
    text-align: left; 
    font-size: 48px;
    margin-left: 0;
    margin-bottom: 30px;
}

.nosotros-texto p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: variables.$color-texto-oscuro;
}

.nosotros-imagen {
    width: 50%;
}

.nosotros-imagen img {
    width: 100%;
    height: auto; 
    border-radius: 10px;
    border: 1px solid variables.$color-borde;
}

.valores-container {
    @extend %container-center;
    margin-bottom: 80px;
    background-color: variables.$color-fondo-claro;
}

.valores-container h2 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: variables.$color-primario;
}

.valores-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

