.logo-navbar-brand {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    justify-content: center;
    gap: 8px;
}

footer {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.footer-p { 
    font-size: 12px;
    font-style: italic;
    font-family:"Nunito", sans-serif;
}