@use "../utilities/variables";

header {

    @include mixins.flex(row,flex-start,center);
    gap: 16px;
    margin-top: 50px;
    


}


    li {

        list-style-type: none;
        a {

            text-decoration: none;
            color: black;

            .active {
                        display: flex;
                        color: black;
                        text-decoration: none;
                        margin: 0; 
                        padding: 8px;
                        border: 2px solid black;
                        border-radius: 8px;
                        background-color: rgb(186, 91, 170);
                        color: black;
                        font-size: 15px;
                        gap: 8px;
                        margin-top: 0px;
                    

            }
        }
    }


nav {
    display: flex;
    gap: 16px ;
    margin-top: 60px
}

.logo-navbar-brand {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    justify-content: center;
    gap: 8px;
}
