@use "../utilities/mixins";


@media (max-width: 450px) {
    body {
        margin: 0 16px;
    }
   
    .main-content {
        flex-direction: column;
        margin-top: 30px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
    
    .left {
        @include mixins.flex(column,flex-start,flex-start);
        gap: 16px;
    }
}