/* fuente nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* font-family: "Nunito", sans-serif; */

/* fuente inconsolata */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* font-family: "Inconsolata", monospace; */

