
%container-center {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}



%grey-subtitle {
    font-family: "Inconsolata", monospace; 
    color: grey;                           
    font-size: 20px;
    margin-bottom: 20px;
}