
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin main-button($fondo, $text) {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;

    
    background-color: $fondo;  
    color: $text;             
    border: 2px solid $fondo;  

    
    &:hover {
        background-color: $text; 
        color: $fondo;            
        border: 2px solid $fondo; 
    }
}



@mixin card-estilo($fondo, $color-borde, $radio) {
    background-color: $fondo;
    border: 1px solid $color-borde;
    border-radius: $radio;
    
   
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}