
$color-primario: black;           
$color-secundario: white;         
$color-fondo-claro: #f9f9f9;      
$color-fondo-blanco: #fff;       
$color-borde: #ddd;               
$color-texto-gris: grey;          
$color-texto-oscuro: #333;        
$color-texto-suave: #555;         
$fuente-titulos: "Nunito", sans-serif;
$fuente-textos: "Inconsolata", monospace;

